.container {
  height: 50vw;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
#todo-list {
  font-family: "Courier New", Courier, monospace;
}

form {
  width: 100%;
}

#input-task {
  width: 80%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid rgb(157, 141, 245);
}

#add-task-button {
  color: mintcream;
  background-color: rgb(157, 141, 245);
  padding: 12px;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  padding-bottom: 40px;
}
#task-list li:first-child {
  padding-top: 20px;
}

span {
  font-family: "Courier New", Courier, monospace;
}

.delete-btn {
  border: none;
  float: right;
  background: none;
}
.delete-btn img {
  border: none;
  width: 30px;
  height: 30px;
}
